body {
    background-image: url("../backgrounds/admin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



#log{

    position: absolute ;
    top:20%;

    left: 30%;
}

#oldpass1{

    position: absolute ;
    top:30%;

    left: 30%;
}

#newpass1{

    position: absolute !important;
    top: 37%;

    left: 29.5%;
}
#repass1{

    position: absolute !important;
    top: 44%;

    left: 28.3%;
}
#back{

    position: absolute;
    top: 5%;

    left: 70%;
}
#submit{

    position: absolute;
    top: 51%;

    left: 46.5%;
}